{% extends "layout.html" %}
{% block body %}
    <h2>Add new user</h2>
    <form action="{{ url_for('add_user') }}" method=post class=add-user>
      <dl>
        <dt>Name:
        <dd><input type=text size=30 placeholder="User Name" name=name>
        <dt>Binary:
        <dd><input type=text size=30 name=binary placeholder="01001001011100100100101001001011100100110010010111001001">
        <dt>Status:
        <dd><input type=radio name=status value="True">Allow Access
        <dd><input type=radio name=status value="False">Deny Access
        <dd><input type=submit value=Submit>
      </dl>
    </form>
<h1> Users</h1>
    <table class="table table-striped">
      <tr>
          <th>Name</th>
          <th>Binary</th>
          <th>Allowed</th>
      </tr>
    {% for user in users %}
      <tr>
          <td>{{ user.name }}
          <td>{{ user.binary }}
          <td>{{ user.status }}
      </tr>
    {% endfor %}
    </table>
{% endblock %}
