{% extends "layout.html" %}
{% set active_page = "log" %}
{% block body %}
<div class="container">
<h1>Door Lock Access Log</h1>
{% if log %}
  <table class="table table-striped table-condensed">
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>Name</th>
        <th>Binary</th>
        <th>Allowed</th>
    </tr>
  {% for attempt in log %}
    <tr>
        <td>{{ attempt.id }}
        <td>{{ attempt.date}}
        <td>{{ attempt.name }}
        <td>{{ attempt.binary }}
        <td>{{ attempt.status }}
    </tr>
  {% endfor %}
{% else %}
<h2 class="text-warning">Access log is empty.</h2>
{% endif %}
</div>
{% endblock %}
